<launch>
  <arg name="frame_rate_hz" default="10" />

  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>
  
  <node pkg="nodelet" type="nodelet" name="camera" args="load camera_aravis/CameraNodelet standalone_nodelet" output="screen">
    <param name="AcquisitionFrameRate" value="10.0"/>
  </node>

  <node pkg="image_view" type="image_view" name="test_view">
    <remap from="image" to="camera/image" />
  </node>
</launch>
